@model TypicalTechTools.Models.DTOs.LoginDTO

@{
    ViewData["Title"] = "Login";
    string loginMessage = ViewBag.LoginMessage ?? "";
}

<h1>Login</h1>

<h4>AdminUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            @if (string.IsNullOrWhiteSpace(loginMessage) == false)
            {
                <label class="text-danger">@loginMessage</label>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary my-1" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to Products", "Index", "Product")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
