@{
    var errorMessage = ViewBag.WarrantyErrorMessage ?? "";
    var fileNames = ViewBag.FileList;
}

<div class="row d-flex justify-content-center">
    <div class="col-8 card p-3">
        <h2>LODGE WARRANTY CLAIM</h2>
        <p>
            If you have any problems with any of your products we are here to help. 
            To lodge a claim please download the warranty claim form using the following link.
        </p>

        <a asp-controller="Warranty" asp-action="DownloadClaimForm">Download Claim Form</a>
       
        <p>
            <br>Once downloaded please fill out the form with as much detail as possibly regarding the problem with your product.
            After completing form please lodge you warranty claim using the section below.
        </p>
        <p>
            <strong>NOTE:</strong> Please do not upload any images at this time. If photographic evidence is required to 
            support your claim, a customer service representitive will contact you to request any required evidence for the claim.
        </p>
    </div>

    <div class="col-8 card p-3 mt-4">
        <form method="post" enctype="multipart/form-data" asp-controller="Warranty" asp-action="Upload">
            <div class="form-group">
                <div>
                    <h5>Upload Completed Forms Here</h5>
                    <input type="file" name="file" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" class="btn btn-info" />
                </div>
            </div>
        </form>
        @if (String.IsNullOrWhiteSpace(errorMessage) == false)
        {
            <h5 class="text-danger">No File Selected!</h5>
        }
    </div>

    <div class="col-8 card align-items-center p-3 my-4">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Warranty Files
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in fileNames)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @Html.ActionLink("Download", "DownloadFile", new {  filePath=item.Path }, new {@class="btn btn-primary ml-1"})
                            @Html.ActionLink("Delete", "Delete", new { filePath = item.Path }, new {@class="btn btn-danger ml-1"})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
